body {
    font-size: large;
    line-height: 140%;
}

#container {
    width 100%;
}

#output {
    padding: 2em;
    width: 100%;
}

#input {
    border: none;
    width: 100%;
    padding: 2em;
    outline: none;
    height: 100%;
}

#editor {
    float: right;
    margin-left: 2em;
    height: 100%;
    width: 40%;
    border-left: 1px solid gray;
}

blockquote {
    border-left: solid 1px black;
    padding: 0.5em;
    margin: 0;
}

code {
    background-color: #efefef;
    padding: 0.5em;
}

pre {
    background-color: #efefef;
    padding: 1em;
}
